<footer class="bg-secondary pt-3">
  <div class="container d-flex flex-column">
    <div class="d-flex w-100 justify-content-between flex-wrap">
      {% if settings.footer %}
        {% for item in settings.footer %}
          <div>
            <h1>{{ item.title }}</h1>
            {{ item.content }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div>
      {{ settings.copyright }}
    </div>
  </div>
</footer>
