<div>
  <select name="pageSize" id="pageSize" onchange="location = this.value;" class="custom-select">
    {% for pageSize in settings.pageSizes %}
      <option value="{{ pageSize | page_size_url }}">{{ pageSize }}</option>
    {% endfor %}
  </select>
</div>
<script>
  window.onload = function(){
    document.getElementById("pageSize").value = '{{ current_product_search_criteria.page_size | page_size_url }}';
  }
</script>

