{% comment %}
  Change product per page in collection with the 'page_size' query parameter.
{% endcomment %}
<div>
    <ul class="pagination">
      {% for pageSize in settings.pageSizes %}
              {% if paginator.page_size == pageSize %}
                  <li class="page-item active"><span class="page-link">{{ pageSize }}</span></li>
              {% else %}
                  <li class="page-item"><a class="page-link">{{ pageSize }}</a></li>
              {% endif %}
      {% endfor %}
    </ul>
</div>

