{% layout 'login' %}

<form accept-charset="UTF-8" action="{{ '~/account/forgotpassword' | absolute_url }}" method="post" id="recover_customer_password" name="recover_customer_password">

<div class="window d-flex flex-column align-items-center" id="recover_password">
    <h2>Recover your password</h2>

    <div class="form-group">
        <input ng-model="email" id="recover-email" name="email" required placeholder="Email" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</div>

</form>
