{% layout 'login' %}

<form accept-charset="UTF-8" action="{{ '~/account/resetpassword' | absolute_url }}" method="post" id="reset_customer_password" name="reset_customer_password">

<div class="window d-flex flex-column align-items-center">
    <h2>Reset your password</h2>

    <input type="hidden" value="{{ reset_password.email }}" name="customer[email]">
    <input type="hidden" value="{{ reset_password.token }}" name="customer[token]">

    <div class="form-group">
        <input ng-model="password" id="reset_password" name="customer[password]" required placeholder="Password" />
    </div>

    <div class="form-group">
        <input ng-model="password_confirmation" id="password_confirmation" name="customer[password_confirmation]" required placeholder="Confirm password" />
    </div>

    <button class="btn btn-primary mt-3">Submit</button>    
</div>
{{ antiforgery }}
</form>

