{% include 'blocks/helpers/color-style' %}

<div id="{{ block.__id }}" style="position: relative;">
  <div class="{% include 'blocks/helpers/block-paddings' %} block container">
    <div class="px-5">
      <div class="d-flex flex-column align-items-center row">
          <div class="align-self-center {{ block.textAreaWidth }}">
            {% include 'blocks/helpers/block-title' %}
          </div>
      </div>

      {% if block.content %}
          <div class="d-flex flex-column align-items-center row">
              <div class="text-container align-self-center {{ block.textAreaWidth }}">
                  {{ block.content }}
              </div>
          </div>
      {% endif %}
    </div>
  </div>
</div>

{% comment %}

__id: string (unique block id)

name: string
headerType: [ h1, h2, h3, like-h1, like-h2, like-h3 ]
titleAlignment: [ center, left ]
titleStyle: [ null, bg-light ]
style: [ light, dark ]
noTop: bool
noBottom: bool

title: string
content: string (wysiwyg)

{% endcomment %}
