<div class="grid">
    <div class="grid-item {% if block.size == 'middle' %} large--two-thirds push--large--one-sixth {% endif %}">
        <img src="{{ block.image.url }}" alt="{{ item.image.altText }}" class="">
    </div>
</div>
