.list-items {
  counter-reset: list;
}

  .list-items .list-item {
    counter-increment: list;
  }

  .list-items .list__num {
    align-items: center;
    border-width: .1875rem;
    border-style: solid;
    border-radius: 3.125rem;
    display: flex;
    justify-content: center;
    width: 3.125rem;
    margin-bottom: 1.25rem;
    height: 3.125rem;
    max-width: 3.125rem;
  }

    .list-items .list__num::after {
      content: counter(list);
      font-size: 1.5rem;
      font-weight: bold;
    }

  .list-items.list-items-letters .list__num::after {
    content: counter(list, lower-latin);
  }

.block-text {
  overflow: hidden;
}

.block-cover {
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: cover;
}
