body {
  font-family: $mainFont;
  color: $textColorMain;
}

.product-grid {
  padding-right: 13px;
  padding-left: 13px;
  margin-left: 13px;
}

.main-content {
  margin-top: 139px;
  //border: $redborder;
}

.product-grid {
  //border: $redborder;
  color: #fff;
}

.btn-secondary {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
}

.navbar-brand {
  padding-top: 0.46rem;
}

/****** PRODUCT CARD ****************/

p {
  font-family: $headerFont;
  color: $textColorMain;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.card {
  border: 0px solid #e7e7e7;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: $borderRadius;
  transition: $transition;
  padding: 1.25rem;
}

.card:hover {
  box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.14);
  //border: 1px solid #ffffff;
}

.card-footer {
  padding: 0px;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem 0 0 0;
}

.card-body .mt-1 {
  margin-bottom: 0.5rem;
}

//Price

.compare-price {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  text-decoration-line: line-through;
  color: $textColorFaded;
  margin-left: 8px;
  margin-top: -7px;
}

.card-footer .basic-price {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;
  color: $textColorMain;
}

//Sale and Hot bubble

.sale-bage {
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
  position: absolute;
  width: auto;
  height: 26px;
  left: 17px;
  top: 16px;
  background: $primary;
  border-radius: 20px;
  font-family: $headerFont;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

// Buttons style

.btn {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: center;
  padding: 0.375rem 0.8rem;
  border: 0;
}

.btn-primary {
  background: #76bb85;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  color: #ffffff;
  height: 40px;
}

.btn-primary:hover {
}

.btn-secondary {
  background: #ffffff;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  color: #212529;
  height: 40px;
}

// Action buttons

.form-row {
  display: flex;
  justify-content: space-between;
}

.card-buttons-left,
.card-buttons-right {
  display: flex;
  margin-top: 10px;
}

.card-buttons-left .btn,
.card-buttons-right .btn {
  padding: 0px;
  border-radius: 40px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  border: 0px;
  background: #ffffff;
  transform: none;
}

.form-row .app-add-item-to-draft .w-100 {
  width: 36px !important;
}

.form-row .app-add-item-to-draft .h-100 {
  height: 36px !important;
}

.form-row .app-add-item-to-compare .w-100 {
  width: 36px !important;
}

.form-row .app-add-item-to-compare .h-100 {
  height: 36px !important;
}

.form-row .app-add-item-to-cart .w-100 {
  width: 108px !important;
}

.form-row .app-add-item-to-cart .h-100 {
  height: 36px !important;
}

.card-buttons-right .app-add-item-to-cart .btn {
  width: 110px;
  height: 36px;
  background: url(/static/cart-icon-long-button.svg) no-repeat 10px 5px;
}

.card-buttons-right .app-add-item-to-cart .btn:hover {
  background: url(/static/cart-icon-long-button-hover.svg) #76bb85 no-repeat 10px 5px;
}

/////////////// Draft button

.card-buttons-left .app-add-item-to-draft .btn {
  background: url(/static/draft-icon-button.svg) no-repeat 9px 9px;
}

.card-buttons-left .app-add-item-to-compare .btn {
  background: url(/static/compare-icon-button.svg) no-repeat 9px 9px;
  text-indent: -9999px;
  margin-left: 8px;
  padding: 0px;
}

.card-buttons-left .app-add-item-to-draft .btn:hover {
  background: url(/static/draft-icon-button-hover.svg) #7395ec no-repeat 9px 9px;
}

.card-buttons-left .app-add-item-to-compare .btn:hover {
  background: url(/static/compare-icon-button-hover.svg) #eda345 no-repeat 9px 9px;
}

.card:hover .form-row .card-buttons-left .app-add-item-to-draft .btn-group .btn {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.12);
}

.card:hover .form-row .card-buttons-right .app-add-item-to-cart .btn {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.12);
}

.card-buttons-left button,
.card-buttons-right button {
  border: 0;
}

.card-buttons-left svg,
.card-buttons-right svg {
  display: none;
}

.card-buttons-left .dropdown-toggle:after {
  display: none;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: $secondary;
}

/****** MODALS *************************************************/

.modal-footer .btn-primary {
  margin-left: 10px;
}

.b-sidebar {
}

header.b-sidebar-header {
  padding: 1rem 1rem;
}

.shadow {
  box-shadow: 0 0.5rem 2.2rem rgba(0, 0, 0, 0.25) !important;
}

.text-primary {
  color: $secondary !important;
}

.fa-lg {
  font-size: 1.5333333333em;
  line-height: 0.75em;
}

.b-sidebar-body .cart-header .flex-column {
  font-weight: 600;
}

.b-sidebar-body .cart-header h5 {
  margin-bottom: 15px !important;
  font-size: 1.5rem;
}

.remove-button {
  background: #fff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.12);
  border-radius: 40px;
  font-size: 13px;
  color: #d35f5c;
  padding: 5px 15px 5px 15px !important;
  line-height: 23px;
  margin-top: 0px;
}

.b-sidebar .btn-primary {
  text-align: center !important;
}

/****** TOP BAR *************************************************/

.bg-primary {
  background-color: $secondary !important;
}

/****** LEFT BAR *************************************************/

#collectionFilters {
  margin-top: 20px;
  min-width: 164px !important;
}

#collectionFilters h5 {
  font-family: $headerFont;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212529;
  padding-top: 15px;
}

#collectionFilters .col-6 {
  // border-bottom: $border;
  border: $border;
  box-sizing: border-box;
  border-radius: $borderRadius;
  margin-bottom: 15px;
  margin-right: 5px;
  padding-left: 20px;
}

#collectionFilters .list-unstyled li {
  line-height: 1.2;
  padding-top: 6px;
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 3px;
  letter-spacing: -0.01em;
}

#collectionFilters .list-unstyled li .custom-control-label {
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.3;
  color: $textColorMain;
}

.tag-count {
  color: $textColorFaded;
}

.custom-control-label::before {
  top: 0;
}

.custom-control-label::after {
  position: absolute;
  top: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: $secondary;
  background-color: $secondary;
}

@media (min-width: 1200px) {
  .col-xl-3 {
    flex: 0 0 22%;
    max-width: 21%;
  }
}

//Collapse buttons

.collapse-button {
  position: absolute;
  top: 10px;
  right: 9px;
  display: block;
  width: 34px;
  height: 34px;
  background: url(/static/collapse-buttons.svg) no-repeat -1px -1px;
  text-indent: -9999px;
}

.collapse-button:hover {
  background: url(/static/collapse-buttons.svg) no-repeat -1px -73px;
}

//Before Nav Header

.before-header {
  background: #fff;
  padding: 1.25rem 0;
}

.before-header .col-3 {
  flex: 0 0 20%;
  max-width: 20%;
}

.before-header .col-5 {
  flex: 0 0 45%;
  max-width: 45%;
}

//SEARCH

.before-header .input-group {
  height: 43px;
  margin-top: 3px;
}

.before-header .input-group-append {
  height: 43px;
}

.before-header .input-group .form-control {
  height: 43px;
}

.input-group input {
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #212529;
}

.cart-login {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: -7px;
  list-style: none;
  justify-content: flex-end;
}

.cart-login li,
.cart-login li a {
}

.cart-login li,
.cart-login li a {
  font-family: $mainFont;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: #767676;
  line-height: 17px;
  padding: 14px 0px 0px 27px;
  white-space: nowrap;
}

.cart-login li a:hover {
  color: $primary;
  text-decoration: none;
}

.top-nav-links {
  display: block;
  height: 40px;
  padding-left: 27px;
}

.compare-link {
  background: url(/static/compare-icon.svg) no-repeat left;
}

.whish-link {
  background: url(/static/whish-icon.svg) no-repeat left;
}

.drafts-link {
  background: url(/static/draft-icon.svg) no-repeat left;
}

.cart-login .nav-item .nav-link {
  margin-right: 0px;
}

.cart-login .nav-item .nav-link {
  background: url(/static/user-icon.svg) no-repeat left 11px;
  padding: 14px 0px 5px 29px;
}

.cart-login .nav-item .logout {
  background: url(/static/user-logout.svg) no-repeat left 11px;
}

// Cart button

.header-cart {
  margin-top: 3px;
  margin-right: 14px;
}

.header-cart button  {
  text-align: center;
  width: 60px;
  background: none;
  background: url(/static/cart-icon.svg) no-repeat left 9px;
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  box-shadow: none;
  padding: 0px 0 0 27px !important;
}

.header-cart button:hover  {
  background: none;
  background: url(/static/cart-icon.svg) no-repeat left -27px;
  color: $primary;
}

.header-cart button svg {
  margin-left: 12px;
  display: none;
}

.badge-info {
  color: #fff;
  background-color: $secondary;
}

.btn .badge {
  position: relative;
  top: -6px;
  right: -5px;
  border-radius: 0.55rem;
  font-size: 85%;
  padding: 0.3em 0.45em;
}

// Top Navigation

.navbar {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 0.5rem 0 0.5rem 0;
}

.navbar-nav {
  max-width: 1240px;
}

.navbar-nav .nav-item {
  display: flex;
  margin-right: 40px;
}

.navbar-nav .nav-item a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.01em;
  line-height: 24px;
  color: #ffffff;
}

/* ----- Filter button  -----*/

.filter-button,
.filter-button:focus {
  background: #ffffff;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  border: 0;
  color: #212529;
  padding-left: 36px;
  background: url(/static/filter-icons.svg) no-repeat 10px 9px;
  margin-top: -1px;
}

.filter-button:hover,
.filter-button:active {
  //background: $primary !important;
  color: #fff;
  background: url(/static/filter-icons.svg) $primary no-repeat 10px -20px;
}

@media (min-width: 769px) {
  .filter-button {
    display: none !important;
  }
}

/* ---------- SORTING   --------------------*/

.sorting-header {
  margin-top: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.collection-sorting {
  width: 260px;
}

.collection-sorting .dropdown-toggle {
  width: 192px;
  text-align: left;
  position: relative;
}

.collection-sorting label,
.collection-view label {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-align: right;
  color: #212529;
}

.dropdown-toggle {
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #212529;
}

.dropdown-toggle::after {
  position: absolute;
  right: 15px;
  top: 15px;
  color: $secondary;
  font-weight: 600;
  font-size: 17px;
}

.dropdown-menu {
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #212529;
}

.collection-view {
  position: absolute;
  right: -14px;
  top: 0px;
}

.collection-view a.change-view {
  background: #ffffff;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  padding: 6px 9px 6px 9px;
  margin-right: 14px;
  transition: $transition;
}

.collection-view a.change-view:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
}

/* -------- Pagination ---------------------*/

.pagination li {
  margin: 0px 17px 0px 0px;
}

.pagination .page-link {
  width: 37px;
  height: 37px;
  border: 0;
  background: #ffffff;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #212529;
  padding-right: 13px;
}

.page-item.active .page-link {
  background: $secondary;
  color: #fff;
}

.pagination .page-link:hover {
  background: $primary;
  color: #fff;
}

// PageSize

#pageSize .dropdown-toggle {
  width: 100px;
  text-align: left;
  position: relative;
}

#pageSize label {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-align: right;
  color: #212529;
}

#pageSize .dropdown-menu {
  width: 100px;
}

.prev {
  width: 80px;
}

.prev .page-link {
  width: 80px !important;
  background: url(/static/arrow-left.svg) no-repeat 11px 12px;
  padding-left: 21px;
}

.prev .page-link:hover {
  background: url(/static/arrow-left-white.svg) $primary no-repeat 11px 12px;
}

.next .page-link {
  width: 80px;
  background: url(/static/arrow-right.svg) no-repeat 62px 12px;
  padding-right: 21px;
}

.next .page-link:hover {
  background: url(/static/arrow-right-white.svg) $primary no-repeat 62px 12px;
}

// Footer

footer.bg-secondary {
  background: #656071 !important;
  color: #fff;
}

footer h4 {
  font-size: 1.3rem;
}

// Mobile

@media (min-width: 768px) and (max-width: 991px) {
  .before-header {
    max-width: 90%;
  }

  .main-content {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-collapse {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #collectionFilters {
    flex: 0 0 30%;
    max-width: 30%;
    min-width: 164px !important;
  }

  .cart-login a {
    text-indent: -9999px;
  }

  .before-header .input-group {
    padding-left: 45px;
  }

  .before-header .col-5 {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .before-header .col-4 {
    flex: 0 0 38%;
    max-width: 38%;
  }
}

@media (max-width: 767px) {
  #collectionFilters {
    display: none;
  }

  .d-none {
    display: flex !important;
  }
}

@media (min-width: 991px) and (max-width: 1166px) {
  .before-header form.input-group {
    flex: 0 0 90%;
    max-width: 90%;
    padding-left: 30px;
  }
}

@media (min-width: 992px) {
  .product-grid {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 90%;
  }
}

@media (min-width: 1140px) {
  .product-card {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .product-grid {
    flex: 0 0 80%;
    max-width: 80%;
    padding-right: 0;
    margin-right: -50px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .before-header {
    max-width: 90%;
  }

  .navbar-collapse {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .before-header {
    max-width: 90%;
  }

  .navbar-collapse {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

// Future Features

.collection-view {
  display: none !important;
}

.app-add-item-to-compare {
  display: none;
}

.compare-link {
  display: none;
}

.product-rating {
  display: none;
}
